@font-face {
    font-family: 'Chicago Plain';
    font-style: normal;
    font-weight: normal;
    src: local('Chicago Plain'), url('../fonts/Chicago.woff') format('woff');
}

@font-face {
    font-family: 'Matrix Code NFI';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix Code NFI'), url('../fonts/matrix code nfi.woff') format('woff');
}

* {
    margin: 0;
    padding: 0
}

body {
    background: #000;
}

canvas {
    display: block;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
